@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 16px;
  font-family: var(--sans-font);
  font-weight: 300;
}

body {
  max-width: 100ch;
  margin: 0 auto;
  margin-top: 7.5em;
  padding: 5ch;
  background: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--bm-text-color);
}

a:focus {
  outline: none;
  color: var(--highlight-color);
}

li {
  list-style: none;
  line-height: 18px;
  margin-bottom: 15px;
}

main {
  display: flex;
  justify-content: space-around;
}

.group {
  margin-bottom: var(--group-margin);
  width: 30ch;
}

.heading {
  font-size: 14px;
  font-weight: 500;
  color: var(--bm-heading-color);
  text-transform: uppercase;
  margin-bottom: var(--heading-margin);
  padding-top: var(--padding-heading-border);
}

@media screen and (max-width: 125ch) {
  .group {
    width: 20ch;
  }
  body {
    max-width: none;
  }
}

@media screen and (max-width: 100ch) {
  body {
    padding: 2em;
  }
  main {
    display: block;
  }

  .group {
    width: 30ch;
    margin: 3em auto;
  }
}

#input-container {
  z-index: 1;
  position: fixed;
  bottom: 5.5em;
  right: 2.5em;
  height: 50ch;

  margin: 0 auto;
  width: 50vw;
  max-width: 45ch;
  border: 1px solid var(--border-color);
  padding: 2ch;
  border-radius: 5px;
  display: none;
  background: var(--input-background-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#bookmarks-textarea {
  font-size: 14px;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-family: var(--monospace-font);
  color: var(--input-border-color);
  background: var(--input-background-color);
}

#bookmarks-textarea {
  outline: none;
}

#buttons {
  z-index: 1;
  display: flex;
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
}

button {
  color: var(--bm-text-color);
  border: 1px solid var(--button-border-color);
  padding: 0.7ch 1.5ch;
  border-radius: 6px;
  background: var(--button-background-color);
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  border-color: var(--button-hover-border-color);
  background: var(--button-hover-background-color);
}

#bm-close {
  display: none;
}

.active {
  display: unset !important;
}

:root {
  /* bookmarks */
  --sans-font: "Inter", sans-serif;
  --monospace-font: "IBM Plex Mono", monospace;
  --bm-text-color: #c9d1d9;
  --bm-heading-color: #3e4248;
  --highlight-color: #12b5cb;
  /* input box */
  --input-border-color: #000000;
  --input-background-color: #ffffff;
  /* buttons */
  --button-text-color: #c9d1d9;
  --button-border-color: #30363d;
  --button-hover-border-color: #8b949e;
  --button-background-color: #21262d;
  --button-hover-background-color: #30363d;
  /* containers */
  --border-color: #30363d;
  --background-color: #0d1117;
  /* config */
  --config-input-color: #3d4853;
  --config-input-border-color: #e6e6e6;
  --config-heading-color: #8b949e;
  --config-title-heading-color: #3d4853;
  --padding-heading-border: 1em;
  --heading-margin: 48px;
  --group-margin: 48px;
}
