@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 16px;
  font-family: var(--sans-font);
  font-weight: 300;
}

body {
  max-width: 100ch;
  margin: 5em auto;
  padding: 5ch;
  background: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:focus {
  outline: none;
  color: var(--highlight-color);
}

li {
  list-style: none;
  line-height: 18px;
  margin-bottom: 15px;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  grid-column: span 1;
}

.group {
  margin-bottom: var(--group-margin);
  width: 30ch;
}

.heading {
  font-size: 14px;
  font-weight: 500;
  color: var(--heading-color);
  text-transform: uppercase;
  margin-bottom: var(--heading-margin);
  /* border-top: 2px solid var(--border-color); */
  padding-top: var(--padding-heading-border);
}

@media screen and (max-width: 125ch) {
  .group {
    width: 20ch;
  }
  body {
    max-width: none;
  }
}

@media screen and (max-width: 100ch) {
  body {
    padding: 2em;
  }
  main {
    display: block;
  }

  .group {
    width: 30ch;
    margin: 3em auto;
  }
}

#input-container {
  z-index: 1;
  position: fixed;
  bottom: 5.5em;
  right: 2.5em;
  height: 50ch;
  max-width: 60ch;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  padding: 2ch;
  border-radius: 5px;
  display: none;
  background: var(--input-background-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#input {
  font-size: 14px;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-family: var(--monospace-font);
  color: var(--input-color);
  background: var(--input-background-color);
}

#input {
  outline: none;
}

#buttons {
  z-index: 1;
  display: flex;
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
}

button {
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
  padding: 0.7ch 1.5ch;
  border-radius: 6px;
  background: var(--button-background-color);
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  border-color: var(--button-hover-border-color);
  background: var(--button-hover-background-color);
}

#discard,
#config-close {
  display: none;
}

:root {
  --heading-color: #3e4248;
  --text-color: #c9d1d9;
  --input-color: #000000;
  --input-background-color: #ffffff;
  --button-background-color: #21262d;
  --button-hover-background-color: #30363d;
  --button-border-color: #30363d;
  --button-hover-border-color: #8b949e;
  --background-color: #0d1117;
  --border-color: #30363d;
  --highlight-color: #12b5cb;
  --padding-heading-border: 1em;
  --heading-margin: 48px;
  --group-margin: 48px;
  --config-input-color: #3d4853;
  --sans-font: "Inter", sans-serif;
  --monospace-font: "IBM Plex Mono", monospace;
  --config-input-border-color: #e6e6e6;
  --config-heading-color: #8b949e;
  --config-title-heading-color: #3d4853;
}

.active {
  display: unset !important;
}

#config {
  padding-bottom: 0.5ch;
}

#config-container {
  z-index: 1;
  position: fixed;
  bottom: 5.5em;
  right: 2.5em;
  max-height: 40ch;
  max-width: 37ch;
  overflow-x: scroll;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  padding: 3ch;
  display: none;
  border-radius: 5px;
  background: var(--input-background-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-config {
  padding: 0.3em;
  border: 2px solid var(--config-input-border-color);
  font-family: var(--monospace-font);
  font-weight: 500;
  margin-top: 0.3em;
  width: 15ch;
}

.config-heading {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1em;
  color: var(--config-heading-color);
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  margin-top: 0;
  color: var(--config-title-heading-color);
}

.settings {
  width: 100%;
  margin-bottom: 2em;
}

.config-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.config-option {
  margin-bottom: 0.5em;
}

.settings:last-of-type {
  margin-bottom: 0;
}
